<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>点餐</title>
  <style>
    *{
	  padding: 0;
	  margin: 0;
	}
	.header{
	  width: 100%;
	  height: 200px;
	  background: #555;
	}
	.swiper-container-ul{
	  list-style: none;
	  overflow: hidden;
	  width: 100%;
	  background: #fff;
	  top: 0;
	}
	.swiper-container-ul-li{
	  width: 100%;
	  height: 40px;
	  line-height: 40px;
	  float: left;
	  text-align: left;
	}
	.actives{
	  border-bottom: 1px solid #3190e8;
	  color: #3190e8;
	}
	.content{
	  width: 100%;
	  overflow: hidden;
	}
	.left{
	  top: 41px;
	  float: left;
	  width: 25%;
	  height: 100%;
	  background: #eee;
	}
	.left ul{
	  list-style: none;
	}
	.left ul li{
	  padding: 15px 5px;
	  text-align: center;
	}
	.active{
	  background: #fff;
	  border-left: 2px solid #3190e8;
	}
	.right{
	  float: left;
	  width: 75%;
	  height: 100%;
	}
	.right ul{
	  list-style: none;
	}
	.class-title{
	  padding: 7px 10px;
	}
	.item{
	  overflow: hidden;
	  width: 100%;
	  padding: 10px;
	  background: #fff;
	  border-bottom: 1px solid #eee;
	}
	.item-left{
	  float: left;
	}
	.item-right{
	  float: left;
	  padding: 0 10px;
	}
	.item-img{
	  width: 100px;
	  height: 100px;
	}
	.title{
	  width: 100px;
	  height: 20px;
	  margin-top: 10px;
	}
	.subtitle{
	  width: 70px;
	  height: 20px;
	  margin-top: 10px;
	}
	.price{
	  width: 50px;
	  height: 20px;
	  margin-top: 10px;
	}
    </style>
  <head>

  <body>
    <div class="header" style="background-image: url(images/logo.jpg);background-size:100% 100%;"></div>
    <div class="swiper-container">
      <ul class="swiper-container-ul">
        <li class="swiper-container-ul-li">如需购买商品，请拨打前台电话“0”</li>
      </ul>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="content">
            <div class="left" id="left">
              <ul>
                <li v-for="item in items">{{item.name}}</li>
              </ul>
            </div>
            <div class="right" id="right">
              <ul>
                <li v-for="item in items">
                  <div class="class-title">{{item.class}}</div>
                  <div v-for="ite in item.list">
                    <div class="item">
                      <div class="item-left">
                        <div class="item-img"><img :src="ite.image" class="item-img"></div>
                      </div>
                      <div class="item-right">
                        <div class="title">{{ite.title}}</div>
                        <div class="subtitle"></div>
                        <div class="price">{{ite.price}}元</div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script type="text/javascript">
      $(function () {
        $('.content').css('height', $('.right').height() + 50);
        $('.left ul li').eq(0).addClass('active');
        $(window).scroll(function () {
          if ($(window).scrollTop() >= 150) {
            $('#right').css('marginTop',$('.swiper-container-ul').height())
            $('.swiper-container-ul').css('position', 'fixed');
            $('.left').css('position', 'fixed');
            $('.right').css('margin-left', $('.left').width());
          } else {
            $('#right').css('marginTop',0)
            $('.swiper-container-ul').css('position', '');
            $('.left').css('position', '');
            $('.right').css('margin-left', '');
          };
          //滚动到标杆位置,左侧导航加active
          $('.right ul li').each(function () {
            var target = parseInt($(this).offset().top - $(window).scrollTop() - 150);
            var i = $(this).index();
            if (target <= 0) {
              $('.left ul li').removeClass('active');
              $('.left ul li').eq(i).addClass('active');
            }
          });
        });
        $('.left ul li').click(function () {
          var i = $(this).index('.left ul li');
          $('body, html').animate({
            scrollTop: $('.right ul li').eq(i).offset().top - 40
          }, 500);
        });
        $('.swiper-container-ul-li').click(function () {
          var index = $(this).index();
          if (index == 0) {
            $('.swiper-slide').eq(0).show();
            $('.swiper-container-ul-li').eq(0).addClass('actives');
            $('.swiper-slide').eq(1).hide();
            $('.swiper-container-ul-li').eq(1).removeClass('actives');
          } else {
            $('.swiper-slide').eq(0).hide();
            $('.swiper-container-ul-li').eq(0).removeClass('actives');
            $('.swiper-slide').eq(1).show();
            $('.swiper-container-ul-li').eq(1).addClass('actives');
          }
        });
      });
    </script>
    <script>
      var left = new Vue({
        el: '#left',
        data: {
          items: [{
              name: '饮品'
            },
            {
              name: '副食'
            },
            {
              name: '零食'
            },
            {
              name: '百货'
            }
          ]
        }
      });
      var right = new Vue({
        el: '#right',
        data: {
          items: [{
              class: '饮品',
              list: [{
                title: '东鹏',
				image: 'images/1.jpg',
				price: 8
              }, {
                title: '红牛',
				image: 'images/2.jpg',
				price: 10
              }, {
                title: '可乐',
				image: 'images/3.jpg',
				price: 6
              }, {
                title: '雪碧',
				image: 'images/4.jpg',
				price: 6
              }, {
                title: '百威',
				image: 'images/5.jpg',
				price: 10
              }, {
                title: '哈尔滨',
				image: 'images/6.jpg',
				price: 8
              }, {
                title: '王老吉',
				image: 'images/7.jpg',
				price: 6.5
              }, {
                title: '雀巢咖啡',
				image: 'images/8.jpg',
				price: 8
              }, {
                title: '椰树椰汁',
				image: 'images/9.jpg',
				price: 9
              }, {
                title: '伊利纯牛奶',
				image: 'images/10.jpg',
				price: 5
              }, {
                title: '燕塘甜牛奶',
				image: 'images/11.jpg',
				price: 6
              }, {
                title: '安慕希酸奶',
				image: 'images/12.jpg',
				price: 8
              }]
            },
            {
              class: '副食',
              list: [{
                title: '康师傅桶面',
				image: 'images/13.jpg',
				price: 8
              }, {
                title: '银鹭八宝粥',
				image: 'images/14.jpg',
				price: 6.5
              }, {
                title: '嘉顿梳打饼',
				image: 'images/15.jpg',
				price: 6
              }, {
                title: '奥利奥饼干',
				image: 'images/16.jpg',
				price: 11
              }, {
                title: '好丽友派',
				image: 'images/17.jpg',
				price: 16
              }, {
                title: '盼盼手撕面包',
				image: 'images/20.jpg',
				price: 12.5
              }, {
                title: '面包',
				image: 'images/21.jpg',
				price: 3
              }, {
                title: '蛋糕',
				image: 'images/22.jpg',
				price: 5
              }]
            },
            {
              class: '零食',
              list: [{
                title: '无穷盐焗鸡',
				image: 'images/24.jpg',
				price: 18
              }, {
                title: '无穷卤蛋',
				image: 'images/25.jpg',
				price: 3.5
              }, {
                title: '可比克薯片（小罐）',
				image: 'images/26.jpg',
				price: 6
              }, {
                title: '乐事薯片',
				image: 'images/27.jpg',
				price: 10
              }, {
                title: '劲仔鱼仔（小包）',
				image: 'images/28.jpg',
				price: 2.5
              }, {
                title: '傻二哥花生',
				image: 'images/29.jpg',
				price: 6
              }, {
                title: '口香糖（片装）',
				image: 'images/30.jpg',
				price: 8
              }, {
                title: '口香糖（粒装）',
				image: 'images/31.jpg',
				price: 12.5
              }, {
                title: '扑克牌',
				image: 'images/32.jpg',
				price: 10
              }, {
                title: '伍子醉槟榔（红色）',
				image: 'images/33.jpg',
				price: 20
              }, {
                title: '伍子醉槟榔（紫色）',
				image: 'images/34.jpg',
				price: 25
              }]
            },
            {
              class: '百货',
              list: [{
                title: '蓝月亮洗衣液',
				image: 'images/35.jpg',
				price: 15
              }, {
                title: 'ABC卫生巾（棉/日）',
				image: 'images/36.jpg',
				price: 15
              }, {
                title: '七度空间（棉/日）',
				image: 'images/37.jpg',
				price: 15
              }, {
                title: '避孕套（杜蕾斯）',
				image: 'images/38.jpg',
				price: 60
              }, {
                title: '避孕套（冈本）',
				image: 'images/39.png',
				price: 80
              }, {
                title: '洗面奶',
				image: 'images/40.jpg',
				price: 89
              }, {
                title: '智能保温杯',
				image: 'images/41.jpg',
				price: 118
              }, {
                title: '雨伞',
				image: 'images/42.jpg',
				price: 68
              }, {
                title: '充电宝10000mAh',
				image: 'images/43.jpg',
				price: 108
              }]
            }
          ]
        }
      });
    </script>
  </body>
</html>
